@model UserViewModel

@{
    ViewData["Title"] = "User Details";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                #@Model.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@Model.FirstName @Model.LastName</h5>
                <p class="card-text">
                    Email: @Model.Email
                </p>
                <p class="card-text">
                    Phone: @Model.Phone
                </p>
                <p class="card-text">
                    Created At: @Model.CreatedAt
                </p>
                <a href="/users/delete?id=@Model.Id" class="btn btn-primary">GDPR Delete</a>
            </div>
        </div>
    </div>
</div>